.main-wrapper {
  width: 400px;
  height: 400px;
  color: #fff;

  position: relative;
  margin-left: 25%;
}

.user-profile {
  position: relative;
  margin-left: 50%;
}

.skills-interest {
  position: relative;
  margin-left: 10%;
}